<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <containers>
      <!--IDAO->DA0-->
      <container name="containerOne">
        <!--<register type="IDAO.IUserDAO,IDAO" mapTo="DAO.UserDAO,DAO" name="UserDAO"></register> -->
      </container>
      <!--IBLL->BLL -->
      <container name="containerTwo">
        <register type="IBLL.IStudentBLL,IBLL" mapTo="BLL.StudentBLL,BLL" name="StudentBLL"></register>
        <register type="IBLL.IUserBLL,IBLL" mapTo="BLL.UserBLL,BLL" name="UserBLL"></register>
        <register type="IBLL.IPublicCharBLL,IBLL" mapTo="BLL.PublicCharBLL,BLL" name="PublicCharBLL"></register>
        <register type="IBLL.ISalaryBLL,IBLL" mapTo="BLL.SalaryBLL,BLL" name="SalaryBLL"></register>
        <register type="IBLL.IoneorganizationBLL,IBLL" mapTo="BLL.oneorganizationBLL,BLL" name="oneorganizationBLL"></register>
        <register type="IBLL.ItwoorganizationBLL,IBLL" mapTo="BLL.twoorganizationBLL,BLL" name="twoorganizationBLL"></register>
        <register type="IBLL.IthreeorganizationBLL,IBLL" mapTo="BLL.threeorganizationBLL,BLL" name="threeorganizationBLL"></register>
        <register type="IBLL.IMajorKindBLL,IBLL" mapTo="BLL.MajorKindBLL,BLL" name="MajorKindBLL"></register>
        <register type="IBLL.IMajorChenBLL,IBLL" mapTo="BLL.MajorChenBLL,BLL" name="MajorChenBLL"></register>
        <register type="IBLL.IMajorBLL,IBLL" mapTo="BLL.MajorBLL,BLL" name="MajorBLL"></register>
       <register type="IBLL.IRoleBLL,IBLL" mapTo="BLL.RoleBLL,BLL" name="RoleBLL"></register>
        <register type="IBLL.IAccessBLL,IBLL" mapTo="BLL.AccessBLL,BLL" name="AccessBLL"></register>
        <register type="IBLL.IMajorReleaseBLL,IBLL" mapTo="BLL.MajorReleaseBLL,BLL" name="MajorReleaseBLL"></register>
        <register type="IBLL.IresourceBLL,IBLL" mapTo="BLL.resourceBLL,BLL" name="resourceBLL"></register>
        <register type="IBLL.IMajorWeiBLL,IBLL" mapTo="BLL.MajorWeiBLL,BLL" name="MajorWeiBLL"></register>
        


      </container>
  
    </containers>
  </unity>
</configuration>